@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 99;
}
